name: release
on:
  push:
    tags:
      - "v*"
jobs:
  publish:
    name: publish to crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: publish oci-distribution to crates.io
        run: cargo publish --token ${{ secrets.CargoToken }}
